* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}
body{
    background: black;
    overflow: hidden;
}
video {
    position: absolute;
    visibility: hidden;
    z-index: 10;
}
img{
    position: absolute;
    visibility: hidden;
    z-index: 10;
}
canvas {
    background: black;
    position: relative;
    border: 1px solid black;
    z-index: 100;
    display: block;
    margin: 75px auto;
}